*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
    font-weight: 300;
    
}



html {
    height: 100%;
    overflow: auto;
    background: radial-gradient(ellipse, #7a90a9 0%,#545c85);
    
}




nav{
    font-family: Lato;
    margin-top: 50px;
    font-weight: 300px;
    text-align: center;
}

nav a{
    color: black;
    padding: 0px 50px 10px 0;
    text-decoration: none;
    position: relative;
    

   
}

nav a::after{
    content: " " ;
    width: 0%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0 ;
    left: 0;
    transition: 0.5s ease-in-out;
    
    
}

nav a:hover::after {
    width: 70%;


}

footer {
	background-color:#38495a ;
	color: #fff;
	padding: 20px;
	text-align: center;
    margin-bottom: 0px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #fff;
	text-decoration: none;
}


/*Sollar Week*/

#title {
    top: 25%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: 120px;
    padding-left: 10px;
    
    
}



#title span {
    background: -webkit-linear-gradient(#090a0f ,#446083);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


img{
    width: 320px;
    height: auto;
    float: left;
    border: 3px ;
    border-radius:10px ;
    margin-right: 15px;
    margin-top: 90px;
    margin-inline-start: 20px;
}

h2{
    text-align: center;
    color:black;
    font-size: 50px;
    margin-bottom: 20px;
   
}

p{
    font-size: 25px;
    margin-inline-start: 20px;
    margin-inline-end: 10px;
    text-align: justify;
}


.text-box{
   background: rgb(182, 203, 212);
   border-radius: 10px;
   height: 430px;
   width: 100%;
}


.wrapper1{
    margin: 150px auto;
    width: 70%;
    
    
    
}

.wrapper2{
    margin:  auto;
    width: 70%;
   
    
}

.wrapper3{
    margin: 150px auto;
    width: 70%;
}

.wrapper4{
    margin: 200px auto;
    width: 70%;
}

.wrapper4{
    margin: 100px auto;
    width: 70%;
}

.wrapper5{
    margin: 200px auto;
    width: 70%;
}

.wrapper6{
    margin: 200px auto;
    width: 70%;
}

.wrapper7{
    margin: 200px auto;
    width: 70%;
}

.wrapper8{
    margin: 200px auto;
    width: 70%;
}

.wrapper9{
    margin: 200px auto;
    width: 70%;
}

.wrapper10{
    margin: 200px auto;
    width: 70%;
}

.wrapper11{
    margin: 200px auto;
    width: 70%;
}






/*Pagina de Contato*/

.contatos {
    padding: 8%;
    background-color: #38495a;
    color: white;
    font-size: 20px;
    text-align: start;
    display: flex;
    font-family: Lato;
    font-weight:300 ;
    margin-top: 30px;
}

.contatos h1 {
    background-color: transparent;
    
}

.falar{
    display: flexbox;
    text-align: center;

}

.falar h2 {
    color:#1e2e3d;

}

.falar p {
    color: white;
    font-size: 15px;
}

.falar {
    align-items: center;
    display: flex;
    margin: 30px;
}

.email {
    width: 200px;
    margin: 30px;
}

.telefone {
    width: 200px;
    margin: 30px;
}

.chat {
    width: 200px;
    margin: 30px;
}

.falar p {
    margin-top: 15px;

}

.bold {
    font-weight: bolder;
    color: black;
}



