*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato ;
    font-weight: 300;
}



html {
    height: 100%;
    overflow: auto;
    background: radial-gradient(ellipse, #fff 0%,white 100%);
    
}




nav{
    font-family: Lato;
    margin-top: 50px;
    font-weight: 300;
    text-align: center;
}

nav a{
    color: black;
    padding: 0px 50px 10px 0;
    text-decoration: none;
    position: relative;
    

   
}

nav a::after{
    content: " " ;
    width: 0%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0 ;
    left: 0;
    transition: 0.5s ease-in-out;
    
}

nav a:hover::after {
    width: 100%;


}

footer {
	background-color:#38495a ;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #fff;
	text-decoration: none;
}


/*Sollar Week*/




img{
    max-width: 320px;
    float: left;
    border: 3px ;
    border-radius:10px ;
    margin-right: 15px;
}

h2{
    text-align: center;
    color: #38495a;
}

.wrapper1{
    margin: 150px auto;
    width: 70%;
}

.wrapper2{
    margin: 150px auto;
    width: 70%;
}

.wrapper3{
    margin: 150px auto;
    width: 70%;
}

.wrapper4{
    margin: 200px auto;
    width: 70%;
}

.wrapper4{
    margin: 100px auto;
    width: 70%;
}

.wrapper5{
    margin: 200px auto;
    width: 70%;
}

.wrapper6{
    margin: 200px auto;
    width: 70%;
}

.wrapper7{
    margin: 200px auto;
    width: 70%;
}

.wrapper8{
    margin: 200px auto;
    width: 70%;
}

.wrapper9{
    margin: 200px auto;
    width: 70%;
}

.wrapper10{
    margin: 200px auto;
    width: 70%;
}





/*Pagina de Contato*/
.contato{
    position: absolute;
    font-family: Lato;
    font-weight: 300 ;
    text-align: center;
    top: 20%;
    font-size:50px ;
    left: 0;
    right: 0;

}

.telefone{
    font-size: 30px;
    font-family: Lato;
    top: 55%;
    left: 0;
    right: 0;
}

.cont {
    align-items: center;
    margin: 20px;
    margin-left: 50px;
}

.cont p {
    font-size: 30px;
    margin: 20px;
}

